In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [22]:
# setup database
engine = create_engine("sqlite:///db/bellybutton.sqlite", echo=False)
Base = automap_base()
Base.prepare(engine, reflect=True)
Samples= Base.classes.samples
#OTU = Base.classes.otu
Samples_Metadata = Base.classes.sample_metadata


session = Session(engine)

In [55]:
stmt = session.query(Samples).statement
df = pd.read_sql_query(stmt, session.bind)

    # Filter the data based on the sample number and
    # only keep rows with values above 1
sample_data =df.loc[df['940'] > 1, ["otu_id", "otu_label", '940']]
    # Format the data to send as json
data = {
         "otu_ids": sample_data.otu_id.values.tolist(),
         "sample_values": sample_data['940'].values.tolist(),
         "otu_labels": sample_data.otu_label.tolist(),
         }

In [38]:
fff=sample_data.sort_values(by='940', ascending=False,inplace=True)

In [60]:
sample_data.sort_values(by='940', ascending=False, inplace=True)

AttributeError: 'NoneType' object has no attribute 'limit'

In [62]:
rr=sample_data.head(10)

In [63]:
rr

      otu_id                                          otu_label  940
1166    1167  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...  163
2858    2859  Bacteria;Firmicutes;Clostridia;Clostridiales;I...  126
481      482                                           Bacteria  113
2263    2264  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   78
40        41                                           Bacteria   71
1188    1189  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...   51
351      352                                           Bacteria   50
188      189                                           Bacteria   47
2317    2318  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   40
1976    1977       Bacteria;Firmicutes;Clostridia;Clostridiales   40

In [24]:
data

{'otu_ids': [41,
  121,
  159,
  165,
  170,
  189,
  258,
  259,
  307,
  340,
  342,
  352,
  357,
  412,
  482,
  513,
  725,
  830,
  833,
  874,
  907,
  944,
  1167,
  1169,
  1189,
  1193,
  1208,
  1232,
  1274,
  1314,
  1497,
  1498,
  1503,
  1505,
  1795,
  1950,
  1959,
  1960,
  1962,
  1968,
  1977,
  2011,
  2024,
  2039,
  2065,
  2077,
  2110,
  2167,
  2178,
  2184,
  2186,
  2188,
  2191,
  2235,
  2244,
  2247,
  2264,
  2275,
  2291,
  2318,
  2335,
  2342,
  2350,
  2396,
  2419,
  2475,
  2483,
  2491,
  2546,
  2571,
  2722,
  2737,
  2739,
  2782,
  2811,
  2859,
  2908,
  2936,
  2964,
  3450],
 'otu_labels': ['Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae;Varibaculum',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae;Prevotella',
  'Bacteria;Firmicutes',
  'Bacteria;Firmicutes',
  'Bacteria;Firmicutes',
  'Bacteria;Firmicutes',
  'Bacteria;Firmicutes;Bacilli;Bacillales;Staphylococcaceae;Staphylococcus',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Finegoldia',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Gallicola',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Gallicola',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;Peptococcaceae;Peptococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;Ruminococcaceae',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;Veillonellaceae',
  'Bacteria;Proteobacteria;Epsilonproteobacteria;Campylobacterales;Campylobacteraceae;Campylobacter'],
 'sample_values': [71,
  2,
  2,
  12,
  2,
  47,
  2,
  2,
  7,
  2,
  2,
  50,
  2,
  2,
  113,
  2,
  2,
  10,
  3,
  36,
  3,
  19,
  163,
  2,
  51,
  6,
  5,
  2,
  4,
  3,
  2,
  2,
  2,
  2,
  10,
  25,
  30,
  2,
  3,
  2,
  40,
  11,
  13,
  5,
  2,
  23,
  2,
  5,
  7,
  19,
  3,
  2,
  28,
  2,
  14,
  11,
  78,
  22,
  2,
  40,
  3,
  2,
  2,
  11,
  13,
  2,
  2,
  2,
  2,
  2,
  8,
  4,
  4,
  12,
  13,
  126,
  7,
  3,
  10,
  37]}

In [56]:
sel = [
        Samples_Metadata.sample,
        Samples_Metadata.ETHNICITY,
        Samples_Metadata.GENDER,
        Samples_Metadata.AGE,
        Samples_Metadata.LOCATION,
        Samples_Metadata.BBTYPE,
        Samples_Metadata.WFREQ,
    ]

results = session.query(*sel).filter(Samples_Metadata.sample == '940').all()

    # Create a dictionary entry for each row of metadata information
sample_metadata = {}
for result in results:
    sample_metadata["sample"] = result[0]
    sample_metadata["ETHNICITY"] = result[1]
    sample_metadata["GENDER"] = result[2]
    sample_metadata["AGE"] = result[3]
    sample_metadata["LOCATION"] = result[4]
    sample_metadata["BBTYPE"] = result[5]
    sample_metadata["WFREQ"] = result[6]

In [57]:
r1=session.query(*sel).sort_values(by=sample,ascending=False,inplace=True)

AttributeError: 'Query' object has no attribute 'sort_values'

In [58]:
sample_metadata

{'AGE': 24.0,
 'BBTYPE': 'I',
 'ETHNICITY': 'Caucasian',
 'GENDER': 'F',
 'LOCATION': 'Beaufort/NC',
 'WFREQ': 2.0,
 'sample': 940}

In [31]:
s_m={}
for rr in r1:
    s_m["sample"]=rr[0]
    s_m["ETHNICITY"] = rr[1]
    s_m["GENDER"] = rr[2]
    s_m["AGE"] = rr[3]
    s_m["LOCATION"] = rr[4]
    s_m["BBTYPE"] = rr[5]
    s_m["WFREQ"] = rr[6]

In [32]:
s_m

{'AGE': 22.0,
 'BBTYPE': 'I',
 'ETHNICITY': 'Caucasian',
 'GENDER': 'F',
 'LOCATION': 'NC',
 'WFREQ': 2.0,
 'sample': 1601}

In [26]:
sample_metadata

{'AGE': 24.0,
 'BBTYPE': 'I',
 'ETHNICITY': 'Caucasian',
 'GENDER': 'F',
 'LOCATION': 'Beaufort/NC',
 'WFREQ': 2.0,
 'sample': 940}

In [28]:
stmt = session.query(Samples).statement
df = pd.read_sql_query(stmt, session.bind)

    # Filter the data based on the sample number and
    # only keep rows with values above 1
sample_data =df.loc[df['940'] > 1, ["otu_id", "otu_label", '940']]
    # Format the data to send as json
data = {
        "otu_ids": sample_data.otu_id.values.tolist(),
        "sample_values": sample_data['940'].values.tolist(),
        "otu_labels": sample_data.otu_label.tolist(),
    }

In [29]:
data

{'otu_ids': [41,
  121,
  159,
  165,
  170,
  189,
  258,
  259,
  307,
  340,
  342,
  352,
  357,
  412,
  482,
  513,
  725,
  830,
  833,
  874,
  907,
  944,
  1167,
  1169,
  1189,
  1193,
  1208,
  1232,
  1274,
  1314,
  1497,
  1498,
  1503,
  1505,
  1795,
  1950,
  1959,
  1960,
  1962,
  1968,
  1977,
  2011,
  2024,
  2039,
  2065,
  2077,
  2110,
  2167,
  2178,
  2184,
  2186,
  2188,
  2191,
  2235,
  2244,
  2247,
  2264,
  2275,
  2291,
  2318,
  2335,
  2342,
  2350,
  2396,
  2419,
  2475,
  2483,
  2491,
  2546,
  2571,
  2722,
  2737,
  2739,
  2782,
  2811,
  2859,
  2908,
  2936,
  2964,
  3450],
 'otu_labels': ['Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae;Varibaculum',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae;Prevotella',
  'Bacteria;Firmicutes',
  'Bacteria;Firmicutes',
  'Bacteria;Firmicutes',
  'Bacteria;Firmicutes',
  'Bacteria;Firmicutes;Bacilli;Bacillales;Staphylococcaceae;Staphylococcus',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Finegoldia',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Gallicola',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Gallicola',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;Peptococcaceae;Peptococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;Ruminococcaceae',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;Veillonellaceae',
  'Bacteria;Proteobacteria;Epsilonproteobacteria;Campylobacterales;Campylobacteraceae;Campylobacter'],
 'sample_values': [71,
  2,
  2,
  12,
  2,
  47,
  2,
  2,
  7,
  2,
  2,
  50,
  2,
  2,
  113,
  2,
  2,
  10,
  3,
  36,
  3,
  19,
  163,
  2,
  51,
  6,
  5,
  2,
  4,
  3,
  2,
  2,
  2,
  2,
  10,
  25,
  30,
  2,
  3,
  2,
  40,
  11,
  13,
  5,
  2,
  23,
  2,
  5,
  7,
  19,
  3,
  2,
  28,
  2,
  14,
  11,
  78,
  22,
  2,
  40,
  3,
  2,
  2,
  11,
  13,
  2,
  2,
  2,
  2,
  2,
  8,
  4,
  4,
  12,
  13,
  126,
  7,
  3,
  10,
  37]}

In [ ]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

In [ ]:
# Save references to each table
Samples_Metadata = Base.classes.sample_metadata
Samples = Base.classes.samples

In [ ]:
Samples_Metadata

In [ ]:
  # Use Pandas to perform the sql query
stmt = db.session.query(Samples).statement
df = pd.read_sql_query(stmt, db.session.bind)

In [ ]:
st=db.session.query(Samples_Metadata).statement
df2=pd.read_sql_query(st,db.session.bind)

In [ ]:
df2.head()

In [ ]:
df.head()

In [ ]:
sel = [
        Samples_Metadata.sample,
        Samples_Metadata.ETHNICITY,
        Samples_Metadata.GENDER,
        Samples_Metadata.AGE,
        Samples_Metadata.LOCATION,
        Samples_Metadata.BBTYPE,
        Samples_Metadata.WFREQ,
    ]

results = db.session.query(*sel).filter(Samples_Metadata.sample == 940).all()
results

In [ ]:
sample_metadata = {}
for result in results:
        sample_metadata["sample"] = result[0]
        sample_metadata["ETHNICITY"] = result[1]
        sample_metadata["GENDER"] = result[2]
        sample_metadata["AGE"] = result[3]
        sample_metadata["LOCATION"] = result[4]
        sample_metadata["BBTYPE"] = result[5]
        sample_metadata["WFREQ"] = result[6]

In [ ]:
print(sample_metadata)

In [ ]:
stmt = db.session.query(Samples).statement
df = pd.read_sql_query(stmt, db.session.bind)
df.head()

In [ ]:
sample_data = df.loc[df['940'] > 1, ["otu_id", "otu_label", "940"]]

In [ ]:
sample_data.head()

In [ ]:
data = {
        "otu_ids": sample_data.otu_id.values.tolist(),
        "sample_values": sample_data['940'].values.tolist(),
        "otu_labels": sample_data.otu_label.tolist(),
    }

In [ ]:
data

In [ ]:
  """Return `otu_ids`, `otu_labels`,and `sample_values`."""
    stmt = session.query(Samples).statement
    df = pd.read_sql_query(stmt, session.bind)

    # Filter the data based on the sample number and
    # only keep rows with values above 1
    sample_data =df.loc[df[sample] > 1, ["otu_id", "otu_label", sample]]
    # Format the data to send as json
    data = {
        "otu_ids": sample_data.otu_id.values.tolist(),
        "sample_values": sample_data[sample].values.tolist(),
        "otu_labels": sample_data.otu_label.tolist(),
    }